<script src="/javascripts/controllers/connection-edit.js"></script>

<div class="container">

  <div class="row" ng-controller="EditConnectionCtrl" ng-init="initLoad()">
    <br />
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="jsonDataString"></ui-codemirror>

    <button class="btn btn-default btn-primary" ng-click="sendData()">Update</button>

  </div>
</div>