<script src="/javascripts/controllers/connections.js"></script>

<div class="scrollable-content">
  <div class="row" ng-controller="connectionsController" ng-init="initializeEditPage()">
    <br />
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="jsonDataString"></ui-codemirror>
    <br />
    <div class='row'>
      <div class='col-sm-2'>
        <button class="btn btn-default btn-primary expand" ng-click="updateConnection()">Update</button>
      </div>
    </div>
  </div>
</div>