<script src="/javascripts/controllers/connections.js"></script>

<div class="scrollable-content" ng-controller="connectionsController" ng-init="initializeIndexPage()">

  <div class="row" ng-repeat="connection in connections">
    <br />
    <div class='col-sm-4 col-xs-12' style='text-align: left'>
      <b>{{connection.name}}</b>
    </div>
    <div class='col-sm-2 col-xs-12' >
      <a class="btn btn-sm btn-primary expand" ng-href="/connections/{{connection._id}}/edit">Edit</a>
    </div>
    <div class='col-sm-2 col-xs-12' >
      <button class="btn btn-sm btn-danger expand" ng-click='destroyConnection(connection._id)'>Delete</button>
    </div>
    <div class='col-sm-12 col-xs-12'>
      <hr />
    </div>
  </div>

</div>



