<script src="/javascripts/controllers/connection_index.js"></script>

<div class="container" ng-controller="connectionController" ng-init="initialize()">
  <div class="row" ng-repeat="connection in connections">
    <h3>{{connection.name}}</h3>
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="connection.jsonString"></ui-codemirror>

    <a class="btn btn-sm btn-primary" ng-href="/connections/{{connection._id}}/edit">Edit</a>
    <button class="btn btn-sm btn-danger" ng-click='destroyConnection(connection._id)'>Delete</button>
  </div>
</div>