<script src="/javascripts/controllers/connections.js"></script>

<div class="container">
  <div ng-controller="connectionsController">
    <br/>
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="jsonDataString"></ui-codemirror>
    <br/>
    <div class='row'>
      <div class='col-sm-2'>
        <button class="btn btn-default btn-danger expand" ng-click="testConnection()">Test</button>
      </div>
      <div class='col-sm-2'>
        <button class="btn btn-default btn-primary expand" ng-click="createConnection()">Submit</button>
      </div>
    </div>
  </div>
</div>