<script src="/javascripts/controllers/relations.js"></script>

<div class="container" ng-controller="relationController" ng-init="initialize()">
  <div class="row" ng-repeat="relation in relations">
    <h3>{{relation.relation_name}}</h3>
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="relation.jsonString"></ui-codemirror>
    <a class="btn btn-sm btn-primary" ng-href="/relations/{{relation._id}}/edit">Edit</a>
    <button class="btn btn-sm btn-danger" ng-click='destroyRelation(relation._id)'>Delete</button>
  </div>
</div>