<script src="/javascripts/controllers/relations.js"></script>

<div class="container" ng-controller="relationsController" ng-init="initializeIndexPage()">
  <div class="row" ng-repeat="relation in relations">
    <br/>
    <div class='col-sm-4 col-xs-12' style='text-align: right'>
      <b>{{relation.relation_name}}</b>
    </div>
    <div class='col-sm-2 col-xs-12'>
      <a class="btn btn-sm btn-primary expand" ng-href="/relations/{{relation._id}}/edit">Edit</a>
    </div>
    <div class='col-sm-2 col-xs-12'>
      <button class="btn btn-sm btn-danger expand" ng-click='destroyRelation(relation._id)'>Delete</button>
    </div>
  </div>
</div>