<script src='/javascripts/controllers/relations.js'></script>

<div class='container' ng-controller='relationsController' ng-init='initialize()'>
<h3>New Relation</h3>

<!-- GENERAL INFORMATION -->
<div class='container'>

  <!-- Relation Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Relation Name</label>
    </div>
    <div class='col-xs-9'>
      <input type='text' class='form-control' ng-model='relation.relationName'/>
    </div>
  </div>
  <br/>

  <!-- Connection Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Connection Name</label>
    </div>
    <div class='col-xs-9'>
      <select class='form-control'
              ng-model='relation.connectionName'
      >
        <option ng-repeat='connection in connections' value='{{connection.name}}'>{{connection.name}}</option>
      </select>
    </div>
  </div>
  <br/>

  <!-- Table Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Table Name</label>
    </div>
    <div class='col-xs-9'>
      <input class='form-control'
             autocomplete="off"
             ng-model='relation.tableName'
             typeahead='table.fullTableName for table in connectionObjects[relation.connectionName].tables | filter:$viewValue | limitTo:8'
             typeahead-on-select='loadColumns(relation.connectionName, relation.tableName); loadRelations(relation.connectionName, relation.tableName)'
             typeahead-editable=false
      />
    </div>
  </div>

  <br/>

  <!-- Relation Type -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Relation Type</label>
    </div>
    <div class='col-xs-9'>
      <select class='form-control'
              ng-model='relation.relationType'
      >
        <option ng-repeat='type in types' value='{{type.value}}'>{{type.name}}</option>
      </select>
    </div>
  </div>
  <br/>

  <!-- Relation Connection Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Relation Connection Name</label>
    </div>
    <div class='col-xs-9'>
      <select class='form-control'
              ng-model='relation.relationConnectionName'
      >
        <option ng-repeat='connection in connections' value='{{connection.name}}'>{{connection.name}}</option>
      </select>
    </div>
  </div>
  <br/>

  <!-- Relation Table Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Relation Table Name</label>
    </div>
    <div class='col-xs-9'>
      <input class='form-control'
             autocomplete="off"
             ng-model='relation.relationTableName'
             typeahead='table.fullTableName for table in connectionObjects[relation.relationConnectionName].tables | filter:$viewValue | limitTo:8'
             typeahead-on-select='loadColumns(relation.relationConnectionName, relation.relationTableName)'
             typeahead-editable=false
      />
    </div>
  </div>
</div>
<br/>

<!-- WHERE CLAUSES -->
<div class='container'>
  <h3>Where&nbsp&nbsp<span class='glyphicon glyphicon-plus' ng-click='addWhereClause()'></span></h3>
  <h6 ng-show='type=="has_many_through"' style='color:red;'>* Optional for 'has_many_through' relation type.</h6>

  <div ng-repeat='whereClause in relation.whereClauses'>
    <div class='row'>
      <span style='float:right;' class='glyphicon glyphicon-remove' ng-click='removeWhereClause(whereClause.id)'></span>
    </div>

    <!-- Where Clause / Relation Table Column -->
    <div class='row'>
      <div class='col-xs-3 right'>
        <label ng-show='relation.relationTableName !== null'>Column from {{relation.relationTableName}}</label>
      </div>
      <div class='col-xs-9'>
        <input class='form-control'
               autocomplete="off"
               ng-model='whereClause.relationTableColumn'
               typeahead='column for column in columnData[relation.relationConnectionName][relation.relationTableName] | filter:$viewValue | limitTo:8'
               typeahead-editable=false
        >
      </div>
    </div>
    <br/>

    <!-- Where Clause / Comparison Operator -->
    <div class='row'>
      <div class='col-xs-3 right'>
        <label>Is</label>
      </div>
      <div class='col-xs-9'>
        <select class='form-control'
                ng-model='whereClause.comparisonOperator'
        >
          <option ng-repeat='operator in comparisonOperators' value='{{operator.name}}'>{{operator.name}}</option>
        </select>
      </div>
    </div>
    <br/>

    <!-- Where Clause / Comparison Type -->
    <div class='row'>
      <div class='col-xs-3 right'>
        <label>Comparison Type</label>
      </div>
      <div class='col-xs-9'>
        <select class='form-control'
                ng-model='whereClause.comparisonType'
        >
          <option ng-repeat='type in comparisonTypes' value='{{type.name}}'>{{type.name}}</option>
        </select>
      </div>
    </div>
    <br/>

    <!-- Where Clause / Comparison Value -->
    <div class='row'>
      <div class='col-xs-3 right'>
        <label ng-show='whereClause.comparisonType=="Value"'>Comparison Value</label>
        <label ng-show='whereClause.comparisonType=="Column"'>Column from {{relation.tableName}}</label>
      </div>
      <div class='col-xs-9'>
        <input class='form-control'
               autocomplete="off"
               ng-model='whereClause.comparisonValue'
               typeahead='column for column in columnData[relation.connectionName][relation.tableName] | filter:$viewValue | limitTo:8'
               typeahead-editable=false
        >
      </div>
    </div>
    <hr/>
  </div>
</div>


<!-- THROUGH RELATION -->
<div class='container' ng-show='relation.relationType=="has_many_through"'>
  <h3>Through</h3>

  <!-- Through Relation Name -->
  <div class='row'>
    <div class='col-xs-3 right'>
      <label>Through Relation Name</label>
    </div>
    <div class='col-xs-9'>
      <input class='form-control'
             autocomplete="off"
             ng-model='relation.throughRelation'
             typeahead="throughRelation as throughRelation.relation_name for throughRelation in relationData[relation.connectionName][relation.tableName] | filter:$viewValue | limitTo:8"
             typeahead-on-select='loadColumns(relation.throughRelation.relation_connection_name, relation.throughRelation.relation_table_name)'
             typeahead-editable=false
      >
    </div>
  </div>

  <!-- JOIN CLAUSES -->
  <h3>Joining&nbsp&nbsp<span class='glyphicon glyphicon-plus' ng-click='addJoinClause()'></span></h3>

  <div ng-repeat='joinClause in relation.joinClauses'>
    <div class='row'>
      <span style='float:right;' class='glyphicon glyphicon-remove' ng-click='removeJoinClause(joinClause.id)'></span>
    </div>

    <!-- From Column -->
    <div class='row'>
      <div class='col-xs-3 right'>
        Column from {{relation.throughRelation.relation_table_name}}
      </div>
      <div class='col-xs-9'>
        <input class='form-control'
               autocomplete="off"
               ng-model='joinClause.fromColumn'
               typeahead='column for column in columnData[relation.throughRelation.relation_connection_name][relation.throughRelation.relation_table_name] | filter:$viewValue | limitTo:8'
               typeahead-editable=false
        >
      </div>
    </div>
    <br/>

    <!-- Join Column -->
    <div class='row'>
      <div class='col-xs-3 right'>
        Column from {{relation.relationTableName}}
      </div>
      <div class='col-xs-9'>
        <input class='form-control'
               autocomplete="off"
               ng-model='joinClause.joinColumn'
               typeahead='column for column in columnData[relation.relationConnectionName][relation.relationTableName] | filter:$viewValue | limitTo:8'
               typeahead-editable=false
        >
      </div>
    </div>
    <hr/>
  </div>
</div>
<input type='button' value='Create Relation' class='btn btn-success' ng-click='createRelation()'/>
</div>