.medium_glyph {
    font-size: 30px;
    background: #f5f5f5;
    border-radius: 50%;
}

.connections {
    overflow: auto;
    background-color: #f8f8f8;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.context_menu {
    position: absolute;
    display: none;
    z-index: 9999;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: thin;
    border-color: #616161;
    padding-right: 30px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
    box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
}

.centered {
    text-align: center;
}

.up_and_left {
    position: relative;
    top: -15px;
    left: -15px;
}

td.relations {
    background-color: #91baff !important;
    width: 25px;
    min-width: 25px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

td.relations:hover {
    background-color: #2a86ff !important;

}

td {
    white-space: nowrap;
    max-width: 400px;
    overflow: auto;
}

th {
    white-space: nowrap;
}

.full-height {
    height: 100%;
}

.twenty-height {
    height: 20%;
}

.eighty-height {
    height: 80%;
}

.scrolling {
    overflow-x: scroll;
    overflow-y: scroll;
}

.right {
    text-align: right;
}

#top_navigation_bar {
    margin-bottom: 0 !important;
}

ul.nav, ul.nav-tabs {
  border-style: none;
}

li.active {
    font-weight: bold;
}

ul.ui-autocomplete {
    z-index: 1002;
}

.tab-content {
    border-top-color: lightgray;
    border-top-width: thin;
    border-top-style: solid;
}