.medium_glyph {
    font-size: 30px;
    background: #f5f5f5;
    border-radius: 50%;
    padding-left: 50px;
}

.centered {
    text-align: center;
}


.twenty-height {
    height: 20%;
}

.eighty-height {
    height: 80%;
}

.scrolling {
    overflow-x: scroll;
    overflow-y: scroll;
}

.right {
    text-align: right;
}

#top_navigation_bar {
    margin-bottom: 0 !important;
}

ul.nav, ul.nav-tabs {
  border-style: none;
}

li.active {
    font-weight: bold;
}

ul.ui-autocomplete {
    z-index: 1002;
}

.tab-content {
    border-top-color: lightgray;
    border-top-width: thin;
    border-top-style: solid;
}

.connection_window_input {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input.form-control.truncated {
    background-color: #fcf8e3;
}

a.expand, button.expand {
    width: 100%;
    margin: 5px 5px 5px 5px;
}


div.alert-custom {
    position: fixed;
    right: 10px;
    min-width: 200px;
    width: auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
    z-index: 1002;
    -webkit-box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
    box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
}

div.row_detail {
    overflow: scroll;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1001;
    -webkit-box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
    box-shadow: 0 1px 10px 2px rgba(25, 25, 25, .5);
}

span.custom {
    font-size: 1.5em;
    color: #474747;
}

span.custom:hover {
    color: red;
}

.up_and_left {
    position: relative;
    top: -10px;
    left: -5px;
}

body, .app-content, .sidebar{
    background: #fff !important;
}
h1.app-name{
    color: black;
}

html,body{
    overflow: visible !important;
}

.app, .app-body, .app-content{
    overflow: visible !important;
}