<div class='row'>
  <div class='col-xs-12'>
    <label class="control-label" for="name">Name</label>
    <input ng-model="form.data.database.name" class="form-control" name="name" placeholder="name" ng-change='updateFormState()'/>
  </div>
</div>

<br />

<div class='row'>
  <div class='col-xs-12'>
    <label class="control-label" for="database_type">Database Type</label>
    <input ng-model="form.data.database.database_type" class="form-control" name="name" placeholder="database type" ng-change='updateFormState()'/>
  </div>
</div>

<br />

<div class='row'>
  <div class='col-xs-12'>
    <label class="control-label" for="username">Username</label>
    <input ng-model="form.data.database.username" class="form-control" name="username" placeholder="username" ng-change='updateFormState()'/>
  </div>
</div>

<br />

<div class='row'>
  <div class='col-xs-12'>
    <label class="control-label" for="password">Password</label>
    <input ng-model="form.data.database.password" class="form-control" name="password" placeholder="password" ng-change='updateFormState()'/>
  </div>
</div>

<br />

<div class='row'>
  <div class='col-xs-12'>
    <label class="control-label" for="url">Url</label>
    <input ng-model="form.data.database.url" class="form-control" name="url" placeholder="url" ng-change='updateFormState()'/>
  </div>
</div>

<br />
<br />

<input id='rails_authenticity_token' name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>'>