<script src='/javascripts/controllers/connections.js'></script>
<script src='/javascripts/controllers/connection_windows.js'></script>
<script src='/javascripts/spinner.js'></script>
<script src='/javascripts/spin.min.js'></script>

<!-- connections pane -->
<div class='col-sm-2 connections full-height'
     ng-controller='connectionsController'
     ng-init='getConnections()'
>
  <br />
  <input class='form-control' placeholder='Table Name...'
         ng-model='tableFilter'
         ng-change='displayAllConnections()'
  />
  <br/>
  <ul>
    <li ng-repeat='connection in connections'>
      <font ng-show='connection.state=="loading"'>{{connection.name}} ... loading</font>
      <a ng-show='connection.state=="loaded"' href='#' class='{{connection.state}}' ng-click='toggleDisplay(connection)'>{{connection.name}}</a>
      <font style='color:red;' ng-show='connection.state=="error"'>{{connection.name}} ... error</font>

      <div ng-show='connection.display'>
        <ul style='padding-left:10px;'>
          <li ng-repeat='table in connection.tables | filter:tableFilter | orderBy:"fullTableName"'>
            <a href='#' ng-click='createConnectionWindow(connection, table.fullTableName)'>{{table.fullTableName}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<!-- connectionWindows pane -->
<div id='connection_window_pane' class='col-sm-10 full-height ' ng-controller='connectionWindowsController' style="padding-left:0; padding-right: 0;">
  <!-- connectionWindow tabs -->
  <div id='navigation_tabs'>
      <ul class='nav nav-tabs'>
        <li ng-repeat='connectionWindow in connectionWindows' class='{{connectionWindow.active}}'>
          <a href=#{{connectionWindow.id}} data-toggle='tab' ng-click='showConnectionWindow(connectionWindow.id)'>{{connectionWindow.title}}&nbsp&nbsp<span
          class="glyphicon glyphicon-remove-circle" ng-click='closeConnectionWindow(connectionWindow.id)'></a>
        </li>
      </ul>
  </div>

  <!-- connectionWindows -->
  <div class='tab-content'>
    <div ng-repeat='connectionWindow in connectionWindows' id={{connectionWindow.id}}
         class='tab-pane {{connectionWindow.active}} full-height'>

      <div class='connection_window_header connection_window_input'>
        <form ng-submit='submitQuery(connectionWindow.id, connectionWindow.currentSqlQuery)'>

          <input id='{{connectionWindow.id}}_sql' ng-model='connectionWindow.currentSqlQuery'
                 class='form-control'
                 columnautocomplete
                 />
        </form>
      </div>

      <div class='data_content scrolling wrapper'>
        <img src='/images/no_data.jpg' ng-show='connectionWindow.state==="no_data"' />
        <img src='/images/bad_query.jpg' ng-show='connectionWindow.state==="bad_query"' />

        <table id='{{connectionWindow.id}}_table'  class='table table-bordered table-condensed table-striped fixed-table-header' ng-show='connectionWindow.columns.length > 0'>
          <thead style='background-color:white;' >
              <tr>
                <th>
                  <!-- filler for relations -->
                </th>
                <th ng-repeat='column in connectionWindow.columns'>{{column.name}}</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat='row in connectionWindow.rows'>
                <td ng-click='showRelationMenu(connectionWindow.id, row.id, $event)' class='relations'>
                  {{row.id+1}}
                </td>
                <td ng-repeat='value in row.rowData'>
                  {{value.value}}
                </td>
              </tr>
          </tbody>

        </table>

      </div>

      <div class='connection_window_footer row'>
        <div class='col-sm-2'>
          <form ng-submit='submitQuery(connectionWindow.id, connectionWindow.currentSqlQuery)'>
            <input id='{{connectionWindow.id}}_max_rows' ng-model='connectionWindow.maxRows'
                   class='form-control connection_window_input'
                   placeholder='max rows'
            />
          </form>
        </div>
        <div class='col-sm-2 col-sm-offset-8'>
          <input readonly value='{{connectionWindow.rows.length}}/{{connectionWindow.maxRows}}' class='form-control {{connectionWindow.state}} connection_window_input' />
        </div>

      </div>

      <!-- modal window for relations -->
      <div id='{{connectionWindow.id}}_relations' class='context_menu'>
        <a href='#' class='up_and_left' ng-click="closeRelationMenu(connectionWindow.id)"><span
        class="medium_glyph glyphicon glyphicon-remove-circle"></span></a>
        <ul class='up_and_left'>
          <a class='centered' ng-repeat='relation in connectionWindow.relations' href='#'
             ng-click='newRelationWindow(connectionWindow.id, relation.name)'>{{relation.name}}<br/></a>
        </ul>
      </div>
    </div>


  </div>
  <!-- end of connectionWindows -->
</div><!-- end of connectionWindows pane -->