<link rel='stylesheet' href='/stylesheets/jquery.ui.all.css'/>

<%= content_for(:sidebar) do %>
    <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar" ng-controller='databasesController' ng-init='initMain()'>
      <h1 class="app-name">DataPet</h1>

      <div class="scrollable">
        <input ng-model='tableFilter' ng-change='displayAllTables()' class='form-control' placeholder='Table Name...'/>

        <div class="scrollable-content">
          <div class="list-group">
            <div class="list-group-item" ng-repeat='database in databases'>
              <span ng-show='database.state=="loading"'>{{database.name}} ... loading</span>
              <a ng-show='database.state=="loaded"' href='#' class='{{database.state}}' ng-click='toggleDisplay(database)'>{{database.name}}</a>
              <span style='color:red;' ng-show='database.state=="error"'>{{database.name}} ... error</span>

              <div ng-show='database.display'>
                <ul>
                  <li ng-repeat='table in database.tables | filter:tableFilter | orderBy:"table.name"'>
                    <a href='#' ng-click='createDatabaseWindow(database, table.name)'>{{table.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div ng-controller='databaseWindowsController'>

  <div id='navigation_tabs'>
    <ul class='nav nav-tabs'>
      <li ng-repeat='databaseWindow in databaseWindows' class='{{databaseWindow.active}}'>
        <a href=#{{databaseWindow.id}} data-toggle='tab' ng-click='showDatabaseWindow(databaseWindow.id)'>
          {{databaseWindow.title}}&nbsp&nbsp<span class="custom fa fa-times" ng-click='closeDatabaseWindow(databaseWindow.id)'></span>
        </a>
      </li>
    </ul>
  </div>

  <div class='tab-content'>
    <div ng-repeat='databaseWindow in databaseWindows' id={{databaseWindow.id}} class='tab-pane {{databaseWindow.active}} full-height'>

      <a style='float:right; margin-right:30px;' href='?database_id:{{databaseWindow.database_id}}?database_name:{{databaseWindow.databaseName}}?full_table_name:{{databaseWindow.fullTableName}}?query:{{databaseWindow.currentSqlQuery}}'>Link Me</a>

      <br/>

      <div class='database_window_header'>
        <form ng-submit='submitQuery(databaseWindow.id, databaseWindow.currentSqlQuery)'>
          <input id='{{databaseWindow.id}}_sql' ng-model='databaseWindow.currentSqlQuery' class='form-control' columnautocomplete/>
        </form>
      </div>

      <input ng-model='databaseWindow.columnFilter' class='form-control' placeholder='Column Filter...' onkeypress='fixTableHeaders()'/>


      <div class='data_content scrolling wrapper'>
        <table id='{{databaseWindow.id}}_table' class='table table-bordered table-condensed table-striped fixed-table-header' ng-show='databaseWindow.columns.length > 0'>
          <thead style='background-color:white;'>
          <tr>
            <th>
              <!-- filler for relations -->
            </th>
            <th ng-repeat='column in databaseWindow.columns | filter:databaseWindow.columnFilter | orderBy:name'>{{column.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat='row in databaseWindow.rows' ng-dblclick='displayRowDetail(row.data, databaseWindow.columns)'>
            <td ng-click='showRelationMenu(databaseWindow.id, row.id, $event)' class='relations'>
              {{row.id+1}}
            </td>
            <td ng-repeat='column in databaseWindow.columns | filter:databaseWindow.columnFilter | orderBy:name'>
              {{row.data[column.name]}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <br/>

      <div class='row'>
        <div class='col-sm-2'>
          <form ng-submit='submitQuery(databaseWindow.id, databaseWindow.currentSqlQuery)'>
            <input id='{{databaseWindow.id}}_max_rows' ng-model='databaseWindow.maxRows' class='form-control' placeholder='max rows'/>
          </form>
        </div>
        <div class='col-sm-2 col-sm-offset-8'>
          <input readonly value='{{databaseWindow.rows.length}}/{{databaseWindow.maxRows}}' class='form-control {{databaseWindow.state}}'/>
        </div>
      </div>

      <!-- modal window for relations -->
      <div id='{{databaseWindow.id}}_relations' class='context_menu'>
        <a href='#' class='up_and_left' ng-click="closeRelationMenu(databaseWindow.id)">
          <span class="custom fa fa-times"></span>
        </a>
        <ul>
          <a class='centered' ng-repeat='relation in databaseWindow.relations' href='#'
             ng-click='newRelationWindow(databaseWindow.id, relation.name)'>{{relation.name}}<br/></a>
        </ul>
        <br/>
      </div>

      <div class='row_detail' ng-show='rowDetail.show'>
        <a href='#' ng-click="closeRowDetail()">
          <span style='margin: 10px 0 10px 10px;' class="custom fa fa-times"></span>
        </a>
        <input class='form-control' placeholder='Column Name...'
               ng-model='columnFilter'
               style='margin: 0 10px 10px 10px;'
        />
        <table class='table table-bordered table-condensed table-striped'>
          <thead>
          <tr>
            <th ng-click='sortRowDetail()'>Column</th>
            <th>Value</th>
          </tr>
          </thead>
          <tr ng-repeat='column in rowDetail.columns | filter:columnFilter'>
            <th>{{column.name}}</th>
            <td>{{rowDetail.data[column.name]}}</td>
          </tr>
        </table>
      </div>
    </div>


  </div>
</div>

<%= content_for :javascripts do %>
    <script src='/javascripts/angular/controllers/databases/databases_controller.js'></script>
    <script src='/javascripts/angular/controllers/databases/database_windows_controller.js'></script>

    <script src='/javascripts/spinner.js'></script>
    <script src='/javascripts/spin.min.js'></script>

    <!-- auto complete for filter -->
    <script src='/javascripts/angular/directives/column_autocomplete.js'></script>
    <script>
        // adjust the body tag to be full window height
        window.onload = function () {
            resizeMain();
        };

        window.onresize = function () {
            resizeMain();
            resizeDatabaseWindows();
        };

        function resizeMain() {
            $('#main').height($(window).height() - 5 - $('#top_navigation_bar').height());
        }

        function resizeDatabaseWindows() {
            var x;
            var formHeight = 0;

            var tabHeight = document.getElementById('navigation_tabs').offsetHeight;
            var headers = document.getElementsByClassName('database_window_header');

            for (x = 0; x < headers.length; x++) {
                var height = headers[x].offsetHeight + 100;
                if (height > formHeight) {
                    formHeight = height;
                }
            }

            var datas = document.getElementsByClassName('data_content');
            var tabs = document.getElementsByClassName('tab-pane');
            var newHeight = $(window).height() - tabHeight - $('#top_navigation_bar').height() - 35;

            for (x = 0; x < tabs.length; x++) {
                tabs[x].style.height = newHeight + 'px';
                datas[x].style.height = (newHeight - formHeight ) + 'px';
            }
        }

        function fixTableHeaders() {
            console.log('fixing');
            var $table = $('table.fixed-table-header');

            $table.floatThead('destroy')

            $table.floatThead({
                scrollContainer: function ($table) {
                    return $table.closest('.wrapper');
                }
            });
        }
    </script>
<% end %>

