<script src='/javascripts/controllers/connections.js'></script>
<script src='/javascripts/controllers/connection_windows.js'></script>
<script src='/javascripts/spinner.js'></script>
<script src='/javascripts/spin.min.js'></script>

<!-- auto complete for filter -->
<script src='/javascripts/directives/column_autocomplete.js'></script>


<!-- connections pane -->
<%= content_for(:sidebar) do %>
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar" ng-controller='connectionsController' ng-init='getConnections()'>
  <h1 class="app-name">DataPet</h1>

  <div class="scrollable">

      <input 
             class='form-control' placeholder='Table Name...'
             ng-model='tableFilter'
             ng-change='displayAllConnections()'
      />
    <div class="scrollable-content">

       <div class="list-group">

        <div class="list-group-item" ng-repeat='connection in connections'>

          <font ng-show='connection.state=="loading"'>{{connection.name}} ... loading</font>
          <a ng-show='connection.state=="loaded"' href='#' class='{{connection.state}}' ng-click='toggleDisplay(connection)'>{{connection.name}}</a>
          <font style='color:red;' ng-show='connection.state=="error"'>{{connection.name}} ... error</font>

          <div ng-show='connection.display'>
            <ul>
              <li ng-repeat='table in connection.tables | filter:tableFilter | orderBy:"fullTableName"'>
                <a href='#' ng-click='createConnectionWindow(connection, table.fullTableName)'>{{table.fullTableName}}</a>
              </li>
            </ul>
          </div>

        </div><!-- connections list-group-item -->

      </div><!-- list-group -->

    </div>
  </div>
</div>
<% end %>

<!-- connectionWindows pane -->
<div id='connection_window_pane' ng-controller='connectionWindowsController' style="padding-left:0; padding-right: 0;">
  <!-- connectionWindow tabs -->
  <div id='navigation_tabs'>
      <ul class='nav nav-tabs'>
        <li ng-repeat='connectionWindow in connectionWindows' class='{{connectionWindow.active}}'>
          <a href=#{{connectionWindow.id}} data-toggle='tab' ng-click='showConnectionWindow(connectionWindow.id)'>{{connectionWindow.title}}&nbsp&nbsp<span
          class="fa fa-power-off" ng-click='closeConnectionWindow(connectionWindow.id)'></a>
        </li>
      </ul>
  </div>

  <!-- connectionWindows -->
  <div class='tab-content'>
    <div ng-repeat='connectionWindow in connectionWindows' id={{connectionWindow.id}}
         class='tab-pane {{connectionWindow.active}} full-height'>
      <a style='float:right; margin-right:30px;' href='?connection_id:{{connectionWindow.connectionId}}?connection_name:{{connectionWindow.connectionName}}?full_table_name:{{connectionWindow.fullTableName}}?query:{{connectionWindow.currentSqlQuery}}'>Link Me</a>
      <br />
      <div class='connection_window_header connection_window_input'>
        <form ng-submit='submitQuery(connectionWindow.id, connectionWindow.currentSqlQuery)'>

          <input id='{{connectionWindow.id}}_sql' ng-model='connectionWindow.currentSqlQuery'
                 class='form-control'
                 columnautocomplete
                 />
        </form>
      </div>

      <div class='data_content scrolling wrapper'>
        <table id='{{connectionWindow.id}}_table'  class='table table-bordered table-condensed table-striped fixed-table-header' ng-show='connectionWindow.columns.length > 0'>
          <thead style='background-color:white;' >
              <tr>
                <th>
                  <!-- filler for relations -->
                </th>
                <th ng-repeat='column in connectionWindow.columns'>{{column.name}}</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat='row in connectionWindow.rows' ng-dblclick='displayRowDetail(row.rowData, connectionWindow.columns)'>
                <td ng-click='showRelationMenu(connectionWindow.id, row.id, $event)' class='relations'>
                  {{row.id+1}}
                </td>
                <td ng-repeat='value in row.rowData'>
                  {{value.value}}
                </td>
              </tr>
          </tbody>

        </table>

      </div>

      <div class='connection_window_footer row'>
        <div class='col-sm-2'>
          <form ng-submit='submitQuery(connectionWindow.id, connectionWindow.currentSqlQuery)'>
            <input id='{{connectionWindow.id}}_max_rows' ng-model='connectionWindow.maxRows'
                   class='form-control connection_window_input'
                   placeholder='max rows'
            />
          </form>
        </div>
        <div class='col-sm-2 col-sm-offset-8'>
          <input readonly value='{{connectionWindow.rows.length}}/{{connectionWindow.maxRows}}' class='form-control {{connectionWindow.state}} connection_window_input' />
        </div>

      </div>

      <!-- modal window for relations -->
      <div id='{{connectionWindow.id}}_relations' class='context_menu'>
        <a href='#' class='up_and_left' ng-click="closeRelationMenu(connectionWindow.id)"><span
        class="fa fa-power-off"></span></a>
        <ul class='up_and_left'>
          <a class='centered' ng-repeat='relation in connectionWindow.relations' href='#'
             ng-click='newRelationWindow(connectionWindow.id, relation.name)'>{{relation.name}}<br/></a>
        </ul>
      </div>

      <div class='row_detail' ng-show='rowDetail.show'>
        <a  href='#' ng-click="closeRowDetail()">
          <span style='margin: 10px 0 10px 10px;' class="fa fa-power-off"></span>
        </a>
        <input class='form-control' placeholder='Column Name...'
               ng-model='columnFilter'
               style='margin: 0 10px 10px 10px;'
        />
        <table class='table table-bordered table-condensed table-striped'>
          <thead>
          <tr>
            <th ng-click='sortRowDetail()'>Column</th>
            <th>Value</th>
          </tr>
          </thead>
          <tr ng-repeat='column in rowDetail.columns | filter:columnFilter'>
            <th>{{column.name}}</th>
            <td>{{rowDetail.data[column.name]}}</td>
          </tr>
        </table>
      </div>
    </div>


  </div>
  <!-- end of connectionWindows -->
</div><!-- end of connectionWindows pane -->

<script>
    // adjust the body tag to be full window height
    window.onload = function () {
        resizeMain();
    };

    window.onresize = function () {
        resizeMain();
        resizeConnectionWindows();
    };

    function resizeMain() {
        $('#main').height($(window).height() - 5 - $('#top_navigation_bar').height());
    }

    function resizeConnectionWindows() {
        var x;
        var formHeight = 0;

        var tabHeight = document.getElementById('navigation_tabs').offsetHeight;
        var headers = document.getElementsByClassName('connection_window_header');
        var footers = document.getElementsByClassName('connection_window_footer');

        for (x = 0; x < headers.length; x++) {
            var height = headers[x].offsetHeight + footers[x].offsetHeight;
            if (height > formHeight) {
                formHeight = height;
            }
        }

        var datas = document.getElementsByClassName('data_content');
        var tabs = document.getElementsByClassName('tab-pane');
        var newHeight = $(window).height() - tabHeight - $('#top_navigation_bar').height() - 35;

        for (x = 0; x < tabs.length; x++) {
            tabs[x].style.height = newHeight + 'px';
            datas[x].style.height = (newHeight - formHeight ) + 'px';
        }
    }

    function fixTableHeaders(){
        var $table = $('table.fixed-table-header');
        $table.floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });
    }
</script>