<link rel='stylesheet' href='/stylesheets/jquery.ui.all.css'/>

<%= content_for(:sidebar) do %>
    <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar" ng-controller='databasesController' ng-init='initMain()'>
      <h1 class="app-name">DataPet</h1>

      <div class="scrollable">
        <input ng-model='tableFilter' ng-change='displayAllTables()' class='form-control' placeholder='Table Name...'/>

        <div class="scrollable-content">
          <div class="list-group">
            <div class="list-group-item" ng-repeat='database in databases'>
              <span ng-show='database.state=="loading"'>{{database.name}} ... loading</span>
              <a ng-show='database.state=="loaded"' href='#' class='{{database.state}}' ng-click='toggleDisplay(database)'>{{database.name}}</a>
              <span style='color:red;' ng-show='database.state=="error"'>{{database.name}} ... error</span>

              <div ng-show='database.display'>
                <ul>
                  <li ng-repeat='table in database.tables | filter:tableFilter | orderBy:"table.name"'>
                    <a href='#' ng-click='createDatabaseWindow(database, table.name)'>{{table.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div ng-controller='databaseWindowsController'>

  <div id='navigation_tabs'>
    <ul class='nav nav-tabs'>
      <li ng-repeat='databaseWindow in databaseWindows' class='{{databaseWindow.active}}'>
        <a href=#{{databaseWindow.id}} data-toggle='tab' ng-click='showDatabaseWindow(databaseWindow.id)'>
          {{databaseWindow.title}}&nbsp&nbsp<span class="custom fa fa-times" ng-click='closeDatabaseWindow(databaseWindow.id)'></span>
        </a>
      </li>
    </ul>
  </div>

  <div class='tab-content'>
    <div ng-repeat='databaseWindow in databaseWindows' id={{databaseWindow.id}} class='tab-pane {{databaseWindow.active}} full-height'>

      <a style='float:right; margin-right:30px;' href='?database_id:{{databaseWindow.database_id}}?database_name:{{databaseWindow.databaseName}}?full_table_name:{{databaseWindow.fullTableName}}?query:{{databaseWindow.currentSqlQuery}}'>Link Me</a>

      <br/>

      <div class='database_window_header'>
        <form ng-submit='submitQuery(databaseWindow.id, databaseWindow.currentSqlQuery)'>
          <input id='{{databaseWindow.id}}_sql' ng-model='databaseWindow.currentSqlQuery' class='form-control' columnautocomplete/>
        </form>
      </div>




    <hot-table  id='{{databaseWindow.id}}_table' ng-if="databaseWindow.rows.length > 0"
    settings="{ contextMenu: databaseWindow.contextMenu,
                manualColumnResize: true,
                rowHeaders: true,
                columnSorting: true,
                colHeaders: databaseWindow.colHeaders,
                columns: databaseWindow.columns,
                stretchH: 'all'}"
    datarows="databaseWindow.rows"
    minSpareRows="0"
    >

    </hot-table>


      <br/>

      <div class='row'>
        <div class='col-sm-2'>
          <form ng-submit='submitQuery(databaseWindow.id, databaseWindow.currentSqlQuery)'>
            <input id='{{databaseWindow.id}}_max_rows' ng-model='databaseWindow.maxRows' class='form-control' placeholder='max rows'/>
          </form>
        </div>
        <div class='col-sm-2 col-sm-offset-8'>
          <input readonly value='{{databaseWindow.rows.length}}/{{databaseWindow.maxRows}}' class='form-control {{databaseWindow.state}}'/>
        </div>
      </div>

      <div class='row_detail' ng-show='rowDetail.show'>
        <a href='#' ng-click="closeRowDetail()">
          <span style='margin: 10px 0 10px 10px;' class="custom fa fa-times"></span>
        </a>
        <input class='form-control' placeholder='Search data...'
               ng-model='columnFilter'
               style='margin: 0 10px 10px 10px;'
        />
        <table class='table table-bordered table-condensed table-striped'>
          <thead>
          <tr>
            <th ng-click='sortRowDetail()'>Column</th>
            <th>Value</th>
          </tr>
          </thead>
          <tr ng-repeat='(key, value) in rowDetail.data | with:columnFilter'>
            <th>{{key}}</th>
            <td>{{value}}</td>
          </tr>
        </table>
      </div>
    </div>


  </div>
</div>

<%= content_for :javascripts do %>
    <script src='/javascripts/angular/controllers/databases/databases_controller.js'></script>
    <script src='/javascripts/angular/controllers/databases/database_windows_controller.js'></script>

    <script src='/javascripts/spinner.js'></script>
    <script src='/javascripts/spin.min.js'></script>

    <!-- auto complete for filter -->
    <script src='/javascripts/angular/directives/column_autocomplete.js'></script>
<% end %>

